# Server
PORT=3000
NODE_ENV=development

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Temporal
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=hotel-offer-queue

# Supplier URLs (internal mock endpoints)
SUPPLIER_A_URL=http://localhost:3000/supplierA/hotels
SUPPLIER_B_URL=http://localhost:3000/supplierB/hotels
